@import "../sass/variables.scss";
@import "../sass/mixins.scss";

.section-banner {
  @include sectionProp;
  padding: 0 0;
  font-family: "poppins", sans-serif;
  position: relative;
  @include flexProp(row, 0rem, center);

  & img {
    width: 100%;
    opacity: 0.6;
  }

  & .banner-title {
    position: absolute;
    top: 43%;
    @include flexProp(column, 0.2rem, space-between);

    & img {
      height: 2rem;
      width: 3rem;
    }

    & h2 {
      font-size: 3rem;
      font-weight: 500;
    }

    & p {
      font-weight: 670;

      & span {
        font-weight: 500;
      }
    }
  }
}
